body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: Roboto;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 5px 100px;

    /* border: 2px solid red; */
}

.left-header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    align-content: center;
        /* border: 2px solid black; */
}

.right-links {
    margin: 0;
    padding: 0;
    align-content: center;
    /* border: 2px solid black; */
}

ul {
    list-style-type: none;
        /* border: 2px solid green; */
}

.header-link {
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 15px;
}

.hero-container{
    display: flex;
    background-color:  #1f2937;
    padding: 100px;
}

.left-hero {
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0 0 10px 0;

}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

.hero-button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 10px;
}

.right-hero {
    /* padding: 0 100px 0 0; */
}

.title {
        /* border: 2px solid red; */
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 20px;
}

.fourboxcontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    text-wrap: wrap;
    margin: 50px;
}

.figure {
    border-radius: 10%;
}

.picandtext {
    /* border: 2px solid red; */
    /* max-width: 200px; */
    /* justify-content: center; */
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 50px 200px;
}

.author {
    font-style:normal;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}

.calltoaction {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;

    margin: 100px;
    padding: 50px 100px;
    border-radius: 10px;
}
.actiontitle {
    font-size: 24px;
    font-weight: bold;
}

button.signup {
    background: #3882f6;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 0px 30px;

}

.footer{
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px;
}